@import "tailwindcss";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}

* {
	box-sizing: border-box;
}

@theme {
	--font-display: -apple-system, BlinkMacSystemFont, sans-serif;
	--color-gray: "#F7F7F7",
	--color-darkGray: "#999999",
	--color-blue: "#3A86FF",
	--color-yellow: "#FFBE0B",
	--color-red: "#ff3e00",
	--color-green: "#00ca48",
}
