---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="w-full flex justify-center">
        <div class="container p-20 items-center justify-center flex flex-col">
          <img
            src="https://avatars.githubusercontent.com/u/74015378?v=4"
            alt="Jonathan Bangert"
            class="rounded-full shadow-lg"
          />
          <h1>I am Jonathan.</h1>
          <h2>Welcome to my unfinished site..</h2>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
