---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import profilePicture from "../pfp.jpg";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main transition:animate="fade" class="max-w-4xl mx-auto pt-10 px-4 min-h-screen flex flex-col">
      <Header />
      <div class="flex flex-col items-center pt-20">
        <div class="flex flex-col-reverse md:flex-row gap-4 sm:flex-col">
          <div class="flex flex-col gap-2">
            <h1 class="text-4xl hidden sm:block">Hello! 👋</h1>
            <h1 class="text-2xl sm:text-3xl">
              <span>My name is Jonathan Bangert</span>
              <span class="text-gray-500"
                >- Akademia Co-Founder & SWE @ Flimmer</span
              >
            </h1>
            <div class="social-links flex gap-4 py-2">
              <a
                href="https://x.com/arctixdev"
                target="_blank"
                class="text-gray-400 hover:text-gray-600"
              >
                <span class="sr-only">Follow me on X</span>
                <svg
                  viewBox="0 0 1200 1227"
                  aria-hidden="true"
                  width="46"
                  height="46"
                  astro-icon="social/twitter"
                  ><path
                    fill="currentColor"
                    d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"
                  ></path></svg
                >
              </a>
              <a
                href="https://github.com/arctixdev"
                target="_blank"
                class="text-gray-400 hover:text-gray-600"
              >
                <span class="sr-only">Go to my GitHub</span>
                <svg
                  viewBox="0 0 16 16"
                  aria-hidden="true"
                  width="46"
                  height="46"
                  astro-icon="social/github"
                  ><path
                    fill="currentColor"
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                  ></path></svg
                >
              </a>
              <a
                href="mailto:contact@jonathanb.dk"
                target="_blank"
                class="mt-0"
              >
                <span class="sr-only">Send me an email</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="stroke-gray-400 hover:stroke-gray-600 mt-0 pt-0"
                  width="54"
                  height="54"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.9"
                  class="lucide lucide-mail"
                  ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
                    d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
                >
              </a>
            </div>
          </div>
          <Image
            src={profilePicture}
            class="rounded-3xl object-cover w-full sm:w-52 sm:h-52 h-fit mx-auto md:mx-0"
            alt="Picture of Jonathan Bangert"
            width={300}
            height={300}
            quality={"max"}
          />
        </div>
        <p class="text-gray-500 text-lg pt-4">
          I’ve been building things for as long as I can remember—starting with
          small coding projects, breaking things apart just to understand how
          they work, and obsessing over every detail until it feels right. Right
          now, I’m working at <a
            href="https://flimmer.app"
            class="underline font-bold">Flimmer</a
          > as a software engineer and on <a
            href="https://akademia.dev"
            class="underline font-bold">Akademia</a
          >, a reimagined platform for schools, but I’m always experimenting
          with new ideas. I share my thoughts on building, minimalism in tech,
          and design philosophy on <a
            href="https://x.com/arctixdev"
            class="underline font-bold">X</a
          >, and if you want to chat, you can reach me at <a
            href="mailto:contact@jonathanb.dk"
            class="underline font-bold">contact@jonathanb.dk</a
          >.
        </p>
      </div>
      <Footer />
    </main>
  </body>
</html>
